.sal-container {
  padding: 10px;
  /* background-color: red; */
  max-width: fit-content;
  margin: 60px auto;
}

.sal-btn {
  /* border: none; */
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.sal-btn-add {
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
}

.sal-btn-salary {
  margin-left: 900px;
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
}

.sal-add-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sal-add-container form {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.sal-add-container form label {
  font-size: 18px;
}

.sal-add-container form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sal-add-container form button {
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}

.sal-add-container form .sal-close-btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
}

.sal-table-container {
  margin-top: 50px; /* Changed margin-top to 50px */
  padding: 20px; /* Added padding for spacing */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden; /* Add overflow hidden to make the table appear as a card */
  position: relative; /* Position relative for absolute positioning of button */
}

.sal-table-container table {
  width: 100%; /* Make table width 100% */
  border-collapse: collapse;
}

.sal-table-container table thead tr {
  background-color: #f0eaea;
}

.sal-table-container table thead tr th,
.sal-table-container table tbody tr td {
  min-width: 200px;
  padding: 10px; /* Increased padding */
  text-align: center;
}

.sal-table-container table tbody tr td {
  border-bottom: 1px solid #c9c5c2;
}

.sal-btn-edit,
.sal-btn-delete,
.sal-btn-send-email {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 10px;
}

.sal-btn-edit {
  background-color: #13f45e;
}

.sal-btn-delete {
  background-color: #fa1717;
  color: white;
}

.sal-btn-send-email {
  background-color: #f6fa17;
  color: black;
}

.sal-search-container {
  margin-bottom: 20px;
}

.sal-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

.sal-btn-generate-pdf {
  padding: 4.5px 16px;
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: -40px; /* Position the button to the top */
  right: 20px; /* Adjust the distance from the right edge */
}
.sal-container {
  padding: 10px;
  /* background-color: red; */
  max-width: fit-content;
  margin: 60px auto;
}

.sal-btn {
  /* border: none; */
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.sal-btn-add {
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
}

.sal-btn-salary {
  margin-left: 900px;
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
}

.sal-add-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sal-add-container form {
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.sal-add-container form label {
  font-size: 18px;
}

.sal-add-container form input {
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.sal-add-container form button {
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}

.sal-add-container form .sal-close-btn {
  margin-left: auto;
  font-size: 18px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
}

.sal-table-container {
  margin-top: 50px; /* Changed margin-top to 50px */
  padding: 20px; /* Added padding for spacing */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden; /* Add overflow hidden to make the table appear as a card */
  position: relative; /* Position relative for absolute positioning of button */
}

.sal-table-container table {
  width: 100%; /* Make table width 100% */
  border-collapse: collapse;
}

.sal-table-container table thead tr {
  background-color: #f0eaea;
}

.sal-table-container table thead tr th,
.sal-table-container table tbody tr td {
  min-width: 200px;
  padding: 10px; /* Increased padding */
  text-align: center;
}

.sal-table-container table tbody tr td {
  border-bottom: 1px solid #c9c5c2;
}

.sal-btn-edit,
.sal-btn-delete,
.sal-btn-send-email {
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 10px;
}

.sal-btn-edit {
  background-color: #13f45e;
}

.sal-btn-delete {
  background-color: #fa1717;
  color: white;
}

.sal-btn-send-email {
  background-color: #f6fa17;
  color: black;
}

.sal-search-container {
  margin-bottom: 20px;
}

.sal-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
}

.sal-btn-generate-pdf {
  padding: 4.5px 16px;
  background: white;
  color: #ae1818;
  border-color: #ae1818;
  border-width: 2px;
  border-radius: 1px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: -40px; /* Position the button to the top */
  right: 20px; /* Adjust the distance from the right edge */
}
