.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
  }
  
  .navlogo {
    width: 80px;
  }
  
  .nav-profile {
    width: 80px;
  }
  
  .title {
    margin: 0;
    text-align: center;
    flex-grow: 1; /* To occupy remaining space and center the title */
  }