/* Newslatter.css */

/* ServiceAppointment Component */
.service-appointment {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .service-appointment h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 60px;
    color: #000000;
  }
  
  .service-appointment input[type="text"],
  .service-appointment input[type="email"],
  .service-appointment textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .service-appointment .date-picker {
    position: relative;
  }
  
  .service-appointment .date-picker input[type="text"] {
    padding-right: 30px;
  }
  
  .service-appointment .date-picker input[type="text"]:focus {
    border-color: #ffffff;
  }
  
  .service-appointment .date-picker svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .service-appointment .react-calendar {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  .service-appointment .react-calendar__navigation {
    background: #000000;
  }
  
  .service-appointment .react-calendar__month-view__days__day--neighboringMonth {
    color: #000000;
  }
  
  .service-button {
    width: 100%;
    padding: 10px;
    background-color: #df1d1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .service-button:hover {
    background-color: #e82225;
  }
  
  .service-appointment .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }